nav {
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.logo {
	max-width: 100px;
	margin-right: auto;

	img {
		width: 100%;
		height: 100%;
	}
}
